/* ==========================================================================
   #CALENDAR
   ========================================================================== */

.c-calendar {
  padding: 10vh 0;
}

.c-calendar__heading {
  margin: 4rem 0 1rem;
  font-size: 2rem;

  @include bp-medium {
    font-size: 6vh;
  }
}

.c-calendar__go {
  font-size: 5rem;

  @include bp-medium {
    font-size: 16vh;
  }
}

.c-calendar__frame {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  counter-reset: years;
}

.c-calendar__item {
  position: relative;
  margin: 0.1em;
  width: 1em;
  height: 1em;
  font-size: 1rem;
  line-height: 1;
  border: 0.5pt solid currentColor;

  &::before,
  &::after {
    display: block;
    text-align: center;
  }

  &:nth-child(52n+52) {
    counter-increment: years;

    &::before {
      content: counter(years);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0.5em 0;
      font-size: 0.5em;
      font-weight: bold;
    }
  }
}

.c-calendar__item--past {
  &::after {
    content: '\002718';
  }
}

@media print {
  @page {
    size: landscape;
  }

  .c-calendar {
    padding: 0;
  }

  .c-calendar__item {
    width: 0.75rem;
    height: 0.75rem;
    font-size: 0.75rem;
  }
}
