/* ==========================================================================
   #FOOTER
   ========================================================================== */

.c-footer {
  display: none;
  border-top: 1px solid $color-border;
  padding: 1rem;
  font-size: 0.875rem;

  .js-calendar-ready & {
    display: block;
  }
}

.c-footer__copyright {
  margin: 0;
}
