.c-hook {
  color: $color-white;
  background: $color-hook;
}

.c-hook__question {
  font-size: 5rem;

  @include bp-medium {
    font-size: 16vh;
  }
}

.c-hook__answer {
  font-size: 4rem;
  transform: translateY(50vh);
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;

  @include bp-medium {
    font-size: 12vh;
  }

  .js-questionnaire-ready & {
    transform: translateY(0vh);  /* stylelint-disable-line length-zero-no-unit */ /* IE11 */
    opacity: 1;
  }
}

.c-hook__loading {
  position: absolute;
  top: 80%;
  left: 50%;
  margin: -4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  pointer-events: none;
  animation: rotate 1s linear;
  animation-iteration-count: infinite;
  transition: opacity 0.3s ease-in-out;

  &::before {
    content: '';
    display: block;
    width: 8rem;
    height: 8rem;
    border: 1rem solid currentColor;
    animation: loading 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .js-questionnaire-ready & {
    opacity: 0;
    animation: none;
  }
}
