.c-questionnaire {
  color: $color-white;
  background: $color-questionnaire;
}

.c-questionnaire__command {
  font-size: 3rem;

  @include bp-medium {
    font-size: 10vh;
  }
}

.c-questionnaire__sentence {
  font-family: $font-script;
  font-size: 2rem;
  line-height: 1.67;
  text-align: center;

  @include bp-medium {
    font-size: 6vh;
  }
}

.c-questionnaire__select-wrapper,
.c-questionnaire__input-wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 1.15em;
    left: 0;
    right: 0.1em;
    height: 0.2rem;
    background: currentColor;
    opacity: 0.8;
  }
}

.c-questionnaire__select-wrapper {
  &::after {
    content: '';
    position: absolute;
    top: 0.7em;
    right: 0.2em;
    border: 0.18em solid transparent;
    border-top-width: 0.32em;
    border-top-color: currentColor;
    border-bottom-width: 0;
  }
}

.c-questionnaire__select,
.c-questionnaire__input {
  position: relative;
  height: 1.67em;
  max-width: 100%;
  font-family: $font-script;
  font-size: inherit;
  line-height: 1.67;
  border-radius: 0;
  background: transparent;
  color: inherit;
  border: none;
  text-shadow: 0 0 0.2em $color-questionnaire;
}

.c-questionnaire__select {
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

.c-questionnaire__input {
  &::-webkit-calendar-picker-indicator {
    background: transparent;
    font-size: 0.5em;
  }
}

.c-questionnaire__next {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -2rem;
  width: 4rem;
  text-align: center;
  font-size: 4rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  text-decoration: none;
  color: $color-white;

  .js-calendar-ready & {
    opacity: 1;
    animation: bounce 0.6s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    pointer-events: all;
  }

  &:focus,
  &:hover {
    color: $color-white;
  }
}
