.c-tip {
  position: absolute;
  width: 15rem;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 0.75rem;
  border: 1px solid currentColor;
  background: $color-bg;
  color: $color-text;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
  box-shadow: 0.2rem 0.2rem 0.5rem 0 rgba($color-text, 0.2);

  p:last-child {
    margin-bottom: 0;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -1rem;
    right: -1px;
    border: solid transparent;
    border-bottom-color: currentColor;
    border-width: 0 0 1rem 1rem;
  }

  &::after {
    margin-top: 2px;
    margin-right: 1px;
    border-bottom-color: $color-bg;
  }

  &.is-open {
    opacity: 1;
    pointer-events: all;
  }
}

.c-tip__mark {
  cursor: help;
}
