.c-uncover {
  position: relative;
}

.c-uncover__item {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  &.is-covered {
    position: fixed;
    left: 0;

    @media print {
      position: relative;
    }
  }
}

.c-uncover__content {
  width: 100%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}

@media print {
  .c-uncover__dummy {
    display: none !important;
  }
}
