.u-show-on-questionnaire-ready {
  display: none;

  .js-questionnaire-ready & {
    display: flex;
  }
}

.u-show-on-calendar-ready {
  display: none;

  .js-calendar-ready & {
    display: flex;
  }
}
