<section id="calendar" class="c-uncover__item u-show-on-calendar-ready">
  <div class="c-uncover__content c-calendar">
    <div class="o-wrapper">
      <ol id="calendar-frame" class="c-calendar__frame"></ol>
      <div class="u-unprintable">
        <h1 class="o-heading c-calendar__heading">Each square above is a week of <span class="u-unbreakable">Your life.<sup class="c-tip__mark" js-tip="#data-source">&lowast;</sup></span></h1>
        <aside id="data-source" class="c-tip">
          <p>Based on the life expectancy retrieved from
            <a href="http://apps.who.int/gho/data/node.main.688?lang=en">WHO database</a>
            on June&nbsp;5<sup>th</sup>,&nbsp;2018.</p>
        </aside>
        <h2 class="o-heading c-calendar__go">Go do something with them.</h2>
      </div>
    </div>
  </div>
</section>
