<footer class="c-footer u-unprintable">
  <div class="o-wrapper">
    <p class="c-footer__copyright">Copyright &copy; {{"now"|date('Y')}} Urszula Wielgosz. Inspired by <a href="https://www.ted.com/talks/tim_urban_inside_the_mind_of_a_master_procrastinator">Tim Urban's fantastic TED talk.</a></p>
  </div>
</footer>
