<section class="c-uncover__item u-unprintable">
  <div class="c-uncover__content c-hook">
    <div class="o-wrapper o-screen">
      <h1 class="o-heading c-hook__question">Need some motivation in your life?</h1>
      <h2 class="o-heading c-hook__answer">Then scroll on!</h2>
      <div class="c-hook__loading"></div>
    </div>
  </div>
</section>
