<section class="c-uncover__item u-unprintable u-show-on-questionnaire-ready">
  <div class="c-uncover__content c-questionnaire">
    <div class="o-wrapper o-screen">
      <h1 class="o-heading c-questionnaire__command">Fill in the blanks:</h1>

      <p class="c-questionnaire__sentence">
        I would like to see advice for someone&nbsp;of
        <span class="u-unbreakable"><span class="c-questionnaire__select-wrapper"><select id="gender" name="gender" class="c-questionnaire__select">
          <optgroup>
            <option value="both">any</option>
          </optgroup>
          <optgroup>
            <option value="female">female</option>
            <option value="male">male</option>
          </optgroup>
        </select></span> <label for="gender">gender</label>,</span>
        <label for="location">living&nbsp;in</label> <span class="u-unbreakable"><span class="c-questionnaire__select-wrapper"><select id="location" name="location" class="c-questionnaire__select">
          <optgroup>
            <option value="any">any part of the world</option>
          </optgroup>
          <optgroup id="countriesOptgroup"></optgroup>
        </select></span>,</span>
        <span class="u-unbreakable@medium"><label for="dob">born&nbsp;on</label> <span class="c-questionnaire__input-wrapper"><input id="dob" name="dob" class="c-questionnaire__input" type="date" required /></span>.</span></p>

      <a href="#calendar" class="c-questionnaire__next">&#8681;</a>
    </div>
  </div>
</section>
