///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 0.25rem !default;
$global-transition: all 300ms ease-in-out !default;
$global-margins: 2rem !default;
$global-page-width: 74rem;

/* Fonts
   ========================================================================== */

$font-sans-serif: 'Helvetica', 'Arial', sans-serif;
$font-heading: 'Oswald', sans-serif;
$font-script: 'Indie Flower', cursive;


/* Breakpoints
   ========================================================================== */

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1280px;
$bp-full: 1600px;

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-very-light-grey: #ccc;
$color-light-grey: #999;
$color-medium-grey: #666;
$color-dark-grey: #333;

$color-hook: #a55000;
$color-questionnaire: #005000;
$color-calendar: $color-medium-grey;

// Text
$color-bg: $color-white;
$color-text: $color-black;

// Links
$color-link: $color-medium-grey;
$color-hover: $color-light-grey;

// Borders
$color-border: $color-very-light-grey;

// Fills
$color-fill: $color-very-light-grey;
