@keyframes loading {
  from {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  to {
    width: 8rem;
    height: 8rem;
    border-radius: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  from {
    transform: translateY(-1rem);
  }

  to {
    transform: translateY(0);
  }
}
